.btn {
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(67, 65, 65);
    color: white;
    position: relative;
  }
  .ribbon1 {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #ff9800;
    color: white;
  }
  .ribbon2 {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #fc2e46;
    color: white;
  }
  .ribbon3 {
    width: 60px;
    font-size: 13px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #2600ff;
    color: white;
  }
  .btn:hover{
    background-color: #4CAF50;
  }
  .heading{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }